@mixin flex($align,$justify,$gap){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}
@mixin flexShort($gap){
    display: flex;
    align-items: center;
    gap: $gap;
}
@mixin grid($repeat){
    display: grid;
    grid-template-columns: $repeat;
    gap: 15px;
}
@mixin RightLeftTransfer{
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 15%;
        background: linear-gradient(to right, $gray-light, transparent);
        z-index: 1;
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
        background: linear-gradient(to left, $gray-light, transparent);
    }
}
@mixin svg{
    width: 30px;
    height: 20px;
    color: inherit;
}
@mixin icon{
    display: flex;
    align-items: center;
    gap: 3px;
    text-transform: uppercase;
    color: var(--text-color);
    cursor: pointer;
    font-size: 13px;
    &:hover{
        color: var(--primary-color);
        transition: .5s
    }
    svg{
        @include svg;
    }
}
@mixin line($one){
    display: -webkit-box;
    -webkit-line-clamp: $one;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
// @mixin radius($px,$color){
//     border-radius: $px;
//     box-shadow: 0 0 4px $color;
//     transition: .5s;
// }
@mixin custom_scroll {
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $primary-color; 
        border-radius: 10px; 
        border: 2px solid $body-color;
    }
}
// @mixin icon($width,$height,$line){
//     min-width: $width;
//     height: $height;
//     line-height: $line !important;
// }
// @mixin clamp($line){
//     display: -webkit-box;
//     -webkit-line-clamp: $line;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
// }
// @mixin gridLi($columns){
//     display: grid;
//     grid-template-columns: $columns;
//     margin-bottom: 8px;
//     background-color: #ffffff3f;
//     box-shadow: 0 0 3px 1px #ffffff;
//     padding: 5px 8px;
//     border-radius: 3px;
// }
