// Primary colors
$primary-color: #ee2349;
$secondary-color: #353332;
$body-color: #fff;

// Neutral colors
$gray: #e4e4e4;
$gray-light: #f1f1f1;
$gray-dark: #343a40;

// Text colors
$text-primary: #fff;
$text-secondary: #353332;

// border / shadow 
$border-primary: #ff9cae;
$border-dark: #cecece;

$weight-4:400;
$weight-5:500;
$weight-6:600;
$weight-7:700;